@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --background: #fa2f98;
  --text: #f0eeeb;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Font size for screens up to 768px */
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1rem; /* Font size for screens up to 480px */
  }
}

img {
  width: 18vh;
  height: auto;
  border-radius: 5%;
  margin-bottom: 1.5vh;
}

.header {
  margin-top: 1rem;
  margin-bottom: 1rem; 
  font-size: 2.25rem;
  line-height: 2.5rem; 
  text-align: center; 

}

.center {
  display: flex; 
  margin-top: -4rem; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;   
}

button {
  text-decoration: none;
  box-shadow: none;
  cursor: pointer;
  border: none;
  text-align: center;
}

.no {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; 
  padding-left: 0.2rem;
  padding-right: 0.2rem; 
  border-radius: 0.25rem; 
  font-weight: 600; 
  color: #ffffff; 
  background-color: #cb2b2b;
  font-size: 90%;
  width: 2rem;
  height: 1.5rem;
  text-align: center;
  position: absolute;
  margin-top: 1.3vh;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.yes {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.25rem;
  padding-right: 0.25rem; 
  border-radius: 0.25rem; 
  font-weight: 700; 
  color: #ffffff; 
  background-color: #10B981;
  width: 4.5rem;
  height: 2.9rem;
  text-align: center;
  font-size: 100%;
  transition: transform 0.1s;
  position: absolute;
  margin: 0;
  overflow: hidden;
}
.yes:hover {
  transform: scale(1.2);
  background: linear-gradient(to right, rgba(255, 179, 186, 0.7), rgba(255, 223, 186, 0.7), rgba(255, 255, 186, 0.7), rgba(186, 255, 201, 0.7), rgba(186, 225, 255, 0.7), rgba(186, 255, 201, 0.7), rgba(255, 255, 186, 0.7), rgba(255, 223, 186, 0.7), rgba(255, 179, 186, 0.7));  
  animation: slidernbw 10s linear infinite;
  color: #ffffff;
  box-shadow: 0 10px 15px -3px, 0 4px 6px -2px;
}
@keyframes slidernbw {
  to {
  background-position: 20vw;
  }
}

.block {
  display: flex;
  width: 40vw;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1vh;
}

#yes {
  margin-left: -15vw;
}

#no {
  margin-right: -13vw;
}

@media (min-width: 1425px) and (max-width: 99999999px) {
  #yes {
    margin-left: -4vw;
  }
  
  #no {
    margin-right: -2vw;
  }
}

@media (min-width: 1390px) and (max-width: 1425px) {
  #yes {
    margin-left: -8vw;
  }
  
  #no {
    margin-right: -6vw;
  }
}

@media (min-width: 1218px) and (max-width: 1390px) {
  #yes {
    margin-left: -12vw;
  }
  
  #no {
    margin-right: -10vw;
  }
}

@media (min-width: 0px) and (max-width: 1218px) {
  #yes {
    margin-left: -16vw;
  }
  
  #no {
    margin-right: -14vw;
  }
}